a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.header-div {
  background-color: #aedd94;
  height: 66%;
}

.page-nav-div {
  height: 33%;
}

.pantry-view-false {
  background-color: #ffb4b0;
}

.pantry-view-true {
  background-color: #ff5d55;
  font-weight: bold !important;
}

.grocery-view-false {
  background-color: #a8c6fa;
}

.grocery-view-true {
  background-color: #3d8af7;
  font-weight: bold !important;
}

.recipes-view-false {
  background-color: #ffe3ae;
}

.recipes-view-true {
  background-color: #ffc957;
  font-weight: bold !important;
}

.nav-link {
  width: 100%;
  height: 100%;
  display: inline-block; 
  text-decoration: none;
}