.nav-link {
  color: #f2f2f2;
  background-color: #00acb0;
  text-align: center;
  text-decoration: none;
  font-size: 15px; 

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}
