a {
  color: black;
  text-align: center;
  text-decoration: none;
}
a:active {
  background-color:inherit;
}

.header-div {
  background-color: #aedd94;
  height: 80px;
}

.page-nav-div {
  height: 50px;
  padding: 14px;
}
.page-nav-div:active {
  background-color: ;
}

.pantry-view-false {
  background-color: #ffb4b0;
}

.pantry-view-true {
  background-color: #ff5d55;
  font-weight: bold !important;
}

.grocery-view-false {
  background-color: #a8c6fa;
}

.grocery-view-true {
  background-color: #3d8af7;
  font-weight: bold !important;
}

.recipes-view-false {
  background-color: #ffe3ae;
}

.recipes-view-true {
  background-color: #ffc957;
  font-weight: bold !important;
}

.recipe-nav-div {
  height: 30px;
  padding: 6px;
}